/* 全局样式 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1200px;
  /* color: #fff; */
}

.comPage {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  /* color: #fff; */
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0;
  padding: 0;
}

input {
  background: none;
  outline: none;
  border: none;
}